<div class="parallax" gumby-parallax="0.3" gumby-offset="30" id="one"></div>	
<div style="height: 1px; background: #223442"></div>

<div class="row">
	<div id="company" style="height: 400px">
		<h4><%= @we.title %></h4>
		<%= simple_format(@we.full_text) %>
	</div>	
</div>

<div style="height: 1px; background: #223442"></div>
<div class="parallax" gumby-parallax="0.3" id="two"></div>
<div style="height: 1px; background: #223442"></div>

<div class="row">
	<div id="supp">
		<h4>СУПП</h4>		
  		<div class="row">
  			<h4><%= @for_what.title %></h4>
  			<%= simple_format(@for_what.full_text) %>


			<h4><%= @what_is_that.title %></h4>
			<%= simple_format(@what_is_that.full_text) %>

			<h4><%= @how_it_works.title %></h4>
  			<%= simple_format(@how_it_works.full_text) %>

			<h4><%= @whats_new.title %></h4>
  			<%= simple_format(@whats_new.full_text) %>

			<h4><%= @why.title %></h4>
  			<%= simple_format(@why.full_text) %>
			
			<h4><%= @how_much.title %></h4>
  			<%= simple_format(@how_much.full_text) %>	
  		</div>
  		<div class="row">    		
			<div class="medium warning btn pill-right" style="float:right;"><a href="/contact">Хочу попробовать!</a></div>			
			<span style="float:right;">&nbsp</span>
			<div class="medium danger btn pill-left" style="float:right;"><a href="/contact">Заказать СУПП!</a></div>    
  		</div>
	</div>
</div>

<div style="height: 1px; background: #223442"></div>
<div class="parallax" gumby-parallax="0.3" id="three"></div>
<div style="height: 1px; background: #223442"></div>

<div class="row">
	<div id="po" style="height: 500px">
		<h4><%= @industrial_automation.title %></h4>
  		<%= simple_format(@industrial_automation.full_text) %>
	</div>
</div>

<div class="row">
	<div id="contacts" style="height: 200px">
		<h4><%= @contacts.title %></h4>
		<%= simple_format(@contacts.full_text) %>
	</div>
</div>